table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 3px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	padding: 8px;
	border-width: 3px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	padding: 8px;
	border-width: 3px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}